.projetos {
  background: #000;
  color: #fff;
  padding: 60px 0;
}

.projetos .container {
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.projetos-descricao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 60px;
}

.projetos .subtitulo {
  color: #007bff;
  max-width: 5ch;
  word-break: break-all;
}

.projetos-descricao p {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #a3a3a3;
  padding: 0 20px;
}

.projetos-descricao strong {
  color: #fff;
}

.projetos-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  color: #e7e7e7;
}

.projetos-item {
  background: #0d0d0d;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #222;
}

.projetos-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 123, 255, 0.3);
}

.projetos-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.projetos-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projetos-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.projetos-info h4 {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 10px;
}

.projetos-info p {
  color: #a3a3a3;
  line-height: 1.5;
  flex-grow: 1;
  margin-bottom: 20px;
  padding: 0;
}

.projetos-ver-mais {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: auto;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.projetos-ver-mais:hover {
  background: #0056b3;
}


@media (max-width: 800px) {
  .projetos-descricao {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .projetos .subtitulo {
    max-width: initial;
  }

  .projetos-lista {
    grid-template-columns: 1fr;
  }

  .projetos-descricao p {
    font-size: 1.2rem;
  }
}